<ion-content>

  <div class="container-fluid">

    <ion-grid>

      <ion-row class="parent-row">

        <ion-col size="12" size-md="6" class="box red box1">
          <div>1</div>
        </ion-col>

        <ion-col size="12" size-md="6" class="box blue box2">
          <div>2</div>
        </ion-col>

        <ion-col size="12" size-md="6" class="box green">
          <div>3</div>
        </ion-col>

        <ion-col size="12" size-md="6" class="box orange">
          <div>4</div>
        </ion-col>

        <ion-col size="12" size-md="6" class="box yellow">
          <div>5</div>
        </ion-col>

        <ion-col size="12" size-md="6" class="box purple">
          <div>6</div>
        </ion-col>

      </ion-row>

    </ion-grid>

  </div>

</ion-content>